/*pre code.python {
  background-image: url(python-bg.png);
}

pre code.html {
  background-image: url(html-bg.png);
}

pre code.css {
  background-image: url(css-bg.png);
}

pre code.delphi {
  background-image: url(delphi-bg.png);
}*/

pre code
{
	color: #888;
}

pre code .title,
pre code .identifier
{
	color: #000;
}

/*pre code .sub*/
/*{*/
/*	color: #00F;*/
/*}*/

pre code .string,
.ruby .symbol {
  color: #008;
}

pre code .keyword,
pre code .operator,
.ruby .keymethods
{
  color: #808;
}

pre code .number {
  color: #800;
}

pre code .regexp {
  color: #f80;
}

pre code .variable {
  color: #080;
}

pre code .comment,
pre code .pod
{
	color: #bbb;
	font-style: italic;
}


pre code .function .title,
pre code .class .title {
  color: #800;
}

pre code .tag .attribute .value,
pre code.css .rules .value,
pre code.css .id,
pre code.css .class {
  color: #800;
}